.myForm {
font-family: Arial;
font-size: 1em;
width: 500px;
padding: 1em;
border-radius: .5em;
border: 0px solid #ccc;
text-align: left;
display: block;  
margin: 0 auto;
}

body {
    background-image: url("./assets/background.jpg");
    background-attachment: fixed;
}

h1 {
    font-size: 40pt;
    text-align: center;
    font-family: Arial;
}

h2 {
    font-size: 15pt;
    text-align: center;
    font-style: italic;
    font-family: Arial;
}

h3 {
    font-size: 15pt;
    text-align: center;
    font-style: italic;
    font-family: Arial;
    text-decoration: underline;
}

h4 {
    font-size: 13pt;
    text-align: center;
    font-family: Arial;
}

h5 {
    display: inline-block;
    margin: 0 auto;
    font-size: 13pt;
    text-align: center;
    font-family: Arial;
}

a:link{
    color: black;
    text-decoration: underline;
}

a:hover{
    color: black;
    text-decoration: underline;
}

button2{
    padding: .7em;
    border-radius: 3em;
    font-family: Arial;
    background-color: transparent;
    font-weight: bold;
    margin-top: 1em;
    Text-align: center;
    display: block;
    width: 75px;   
    margin: 0 auto;
    text-decoration: underline; 
}

button2:hover{
    background-color: #ffc2a6; 
}

button{
    padding: .7em;
    border-radius: 3em;
    font-family: Arial;
    background-color: transparent;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
    display: block;
    width: 150px;   
    margin: 0 auto;
    text-decoration: underline; 
}

button:hover{
    background-color: #ffc2a6; 
}

.comment-area {
    overflow: scroll;
    width: 700px;
    height: 10px;
}

.radiostyle {
    display: inline-block;
    width: 40px;
}

input {
    border-radius: .5em;
    border: 0px solid #ccc;
    text-align: left;
    display: block;  
    margin: 0 auto;
    padding: 1em;
    width: 500px;
}

textarea{
    border-radius: .5em;
    border: 0px solid #ccc;
    text-align: left;
    display: block;  
    margin: 0 auto;
    padding: 1em;
    width: 500px;
    font-family: Arial;
}

i {
    font-size: 15pt;
    text-align: center;
    font-family: Arial;
    display: block;
    margin: 0 auto;

}


.form-area {
    margin: 0 auto;
    max-width: 550px;
    margin-bottom: 4em;
    padding: 0 2em;
}

.form-wrapper {
    display: flex;
}

.form-wrapper textarea {
    flex: 1;
}

.blog-title {
    margin: 0;
    font-size: 20pt;
    text-align: left;
    font-weight: bold;
    font-family: Arial;
    margin-top: 17px;
}

.blog-owner {
    margin: 0;
    font-size: 15pt;
    font-style: italic;
    text-align: left;
    font-weight: bold;
    font-family: Arial;
    margin-top: 3px;
}

.blog-content {
    margin: 0;
    font-size: 15pt;
    text-align: left;
    font-family: Courier;
}

.tags {
    margin: 0;
    font-size: 10pt;
    text-align: right;
    font-family: Arial;
}

.commentOwner {
    margin: 0;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-family: Arial;
    margin-top: 3px;
}

.comment-section-title {
    margin: 0;
    font-size: 14pt;
    text-align: left;
    font-weight: bold;
    font-family: Arial;
}

.comments {
    margin: 0;
    font-size: 12pt;
    text-align: left;
    font-family: Arial;
}

.date {
    margin: 0;
    font-size: 12pt;
    font-style: italic;
    text-align: left;
    font-family: Arial;
    margin-top: 3px;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: rgba(255,255,255,.30);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    width: 800px;
  }

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
  }

.container2 {
    margin: 0 auto;
    padding: 2px 16px;
    text-align: center;
} 

.left {
    align-content: left;
}

.right {
    align-content: right;
}

.tableFol {
    margin: 0 auto;
    width: 20%;
}
